:root {
	--background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #23222b;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: var(--background-color);
	color: var(--text-color-primary);
	font-family: var(--font-family-default);
	font-size: 14px;
	margin: 0;
}

body {
	padding: 6px;
	min-height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

label {
	display: inline-flex;
	flex-direction: column;
	gap: 2px;
	font-weight: 600;
}

input {
	--padding: 6px;
	display: block;
	min-width: 360px;
	padding: var(--padding);
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	margin-top: 3px;
	font: inherit;
	font-weight: 400;
}

input#api-key {
	min-width: calc(36ch + 2 * var(--padding) + 2px);
	font-family: var(--font-family-mono);
}

input.valid {
	border-color: var(--success-color);
}

small {
	font-size: 11px;
	font-weight: 400;
}

.footer {
	display: flex;
	align-items: center;
	gap: 5px;
}

button {
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

button:hover {
	background-color: var(--card-background-hover);
}

.message.success {
	color: var(--success-color);
}
