* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 350px;
	background-color: var(--background-color);
	color: var(--text-color-primary);
	font-family: var(--font-family-default);
	font-size: 13px;
}

.toolbar {
	display: flex;
	gap: 5px;
	padding: var(--outer-padding);
	background-color: var(--card-background);
	border-bottom: 1px solid var(--border-color);
}

.toolbar button {
	display: flex;
	align-items: center;
	gap: 3px;
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.toolbar button:hover {
	background-color: var(--card-background-hover);
}

.toolbar button:disabled {
	opacity: 0.8;
	cursor: wait;
}

.toolbar button svg {
	width: 1.2em;
	pointer-events: none;
}

.loading {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 2px;
	height: 150px;
}

.loading svg {
	height: 1em;
}

.api-key-missing,
.error,
.no-items {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding: var(--outer-padding);
	min-height: 150px;
}

.api-key-missing button,
.error button {
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.api-key-missing button:hover,
.error button:hover {
	background-color: var(--card-background-hover);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.rotating {
	animation: rotate 1s linear 0s infinite;
}

.content,
.labels-page {
	flex-direction: column;
	max-height: 450px;
	padding: var(--outer-padding);
	overflow: auto;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: block;
	padding: 0;
	margin: 0 0 3px 0;
}

li:last-of-type {
	margin: 0;
}

.item {
	display: flex;
	position: relative;
	overflow: hidden;
	gap: 7px;
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 10px;
	color: var(--text-color-primary);
	text-decoration: none;
}

.item:hover {
	background-color: var(--card-background-hover);
}

.item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 32px;
	width: 32px;
	height: 32px;
	object-fit: contain;
	border-radius: var(--border-radius);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.item .text {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	gap: 3px;
	overflow: hidden;
}

.item .text .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: var(--text-color-primary);
	font-weight: 600;
}

.item .text .url {
	display: block;
	color: var(--text-color-secondary);
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

/* Labels in list view  */
.item .text .labels {
	display: flex;
	flex-wrap: wrap;
}

.item .text .labels .label {
	display: flex;
	align-items: center;
	gap: 3px;
	height: 100%;
	line-height: 1;
	padding: 2px 6px 2px 0;
	border-radius: var(--border-radius);
	font-size: 11px;
}

.item .text .labels .label .dot {
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
}

.item:hover .buttons {
	display: flex;
}

.item .buttons {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 3px;
	padding: var(--outer-padding);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: var(--buttons-container-background);
}

.item .buttons button {
	display: flex;
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.item .buttons button:hover {
	background-color: var(--card-background-hover);
}

.item .buttons button svg {
	width: 20px;
	height: 20px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.pagination .buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.pagination .buttons button {
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.pagination .buttons button:hover {
	background-color: var(--card-background-hover);
}

.pagination .buttons button svg {
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.125em;
	pointer-events: none;
}

.pagination .buttons .info {
	font-size: 13px;
	text-align: center;
	color: var(--text-color-secondary);
}

/* Labels page */
fieldset {
	border: none;
	padding: 0;
}

legend {
	font-weight: 600;
	margin: 0 0 5px 0;
}

#labels-page fieldset {
	width: 100%;
}

#labels-page #labels {
	margin: 0 0 10px 0;
}

#labels-page #labels .label {
	display: flex;
	margin: 0 0 5px 0;
}

#labels-page #labels .label input {
	margin: 0 5px 0 0;
}

#labels-page #labels .label label {
	display: flex;
	align-items: center;
	gap: 3px;
}

#labels-page #labels .label label .dot {
	border-radius: 50%;
	flex: 0 0 0.7em;
	height: 0.7em;
}

#labels-page #footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

#labels-page #footer #buttons {
	display: flex;
	gap: 5px;
}

#labels-page #footer #buttons button {
	display: flex;
	font: inherit;
	padding: var(--button-paddings);
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

#labels-page #footer #buttons button:hover {
	background-color: var(--card-background-hover);
}

#labels-page #footer #links a {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--accent-color);
	text-decoration: none;
}

#labels-page #footer #links a svg {
	width: 1em;
}

#labels-page #footer #links a:hover {
	text-decoration: underline;
}
