:root {
	--background-color: #e0e0e6;
	--accent-color: #0060df;
	--text-color-primary: #15141a;
	--text-color-secondary: #5b5b66;
	--border-color: #e0e0e6;
	--card-background: #fbfbfe;
	--card-background-hover: #f0f0f4;
	--buttons-container-background: linear-gradient(90deg, rgba(251,251,254,0) 0%, rgba(251,251,254,1) 100%);
	--gray-dark: #bfbfc9;

	--outer-padding: 5px;
	--border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #2b2a33;
		--accent-color: #00ddff;
		--text-color-primary: #fbfbfe;
		--text-color-secondary: #cfcfd8;
		--border-color: #42414d;
		--card-background: #5b5b66;
		--card-background-hover: #42414d;
		--buttons-container-background: linear-gradient(90deg, rgba(251,251,254,0) 0%, rgba(91,91,102,1) 100%);
		--gray-dark: #15141a;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 350px;
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 13px;
}

.toolbar {
	display: flex;
	gap: 5px;
	padding: var(--outer-padding);
	background-color: var(--card-background);
	border-bottom: 1px solid var(--border-color);
}

.toolbar button {
	display: flex;
	align-items: center;
	gap: 3px;
	font: inherit;
	padding: 3px 6px;
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.toolbar button:hover {
	background-color: var(--card-background-hover);
}

.toolbar button:disabled {
	opacity: 0.8;
	cursor: wait;
}

.toolbar button svg {
	width: 1.2em;
	pointer-events: none;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	height: 150px;
}

.loading svg {
	height: 1em;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.rotating {
	animation: rotate 1s linear 0s infinite;
}

.content {
	max-height: 450px;
	overflow: auto;
}

ul {
	list-style-type: none;
	padding: var(--outer-padding);
}

li {
	display: block;
	padding: 0;
	margin: 0 0 3px 0;
}

li:last-of-type {
	margin: 0;
}

.item {
	display: flex;
	position: relative;
	overflow: hidden;
	gap: 7px;
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 10px;
	color: var(--text-color-primary);
	text-decoration: none;
}

.item:hover {
	background-color: var(--card-background-hover);
}

.item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 32px;
	width: 32px;
	height: 32px;
	object-fit: contain;
	border-radius: var(--border-radius);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.item .text {
	flex: 1 1 auto;
	display: block;
}

.item .text .title {
	color: var(--text-color-primary);
	font-weight: 600;
	margin-bottom: 3px;
}

.item .text .url {
	color: var(--text-color-secondary);
	font-size: 11px;
}

.item:hover .buttons {
	display: flex;
}

.item .buttons {
	display: none;
	justify-content: center;
	align-items: center;
	padding: var(--outer-padding);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: var(--buttons-container-background);
}

.item .buttons button {
	display: flex;
	font: inherit;
	padding: 3px 6px;
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.item .buttons button:hover {
	background-color: var(--card-background-hover);
}

.item .buttons button svg {
	width: 20px;
	height: 20px;
}
