:root {
	--background-color: #e0e0e6;
	--accent-color: #0060df;
	--text-color-primary: #15141a;
	--text-color-secondary: #5b5b66;
	--border-color: #e0e0e6;
	--card-background: #fbfbfe;
	--card-background-hover: #f0f0f4;
	--gray-dark: #bfbfc9;

	--border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #2b2a33;
		--accent-color: #00ddff;
		--text-color-primary: #fbfbfe;
		--text-color-secondary: #cfcfd8;
		--border-color: #e0e0e6;
		--card-background: #5b5b66;
		--card-background-hover: #42414d;
		--gray-dark: #15141a;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 350px;
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 13px;
}

body {
	padding: 5px;
}

ul {
	list-style-type: none;
}

li {
	display: block;
	padding: 0;
	margin: 0 0 3px 0;
}

li:last-of-type {
	margin: 0;
}

li a {
	display: block;
	background-color: var(--card-background);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 10px;
	color: var(--text-color-primary);
	text-decoration: none;
}

li a:hover {
	background-color: var(--card-background-hover);
}

li a .title {
	color: var(--accent-color);
	font-weight: 500;
	margin-bottom: 3px;
}

li a .url {
	color: var(--text-color-secondary);
	font-size: 11px;
}
